<!doctype html>
<html lang="en">
    <head>
        {{ partial "meta.html" . }}
        <link rel="stylesheet" href="/css/grid.css" />
        <link rel="stylesheet" href="/css/theme.css" />
        <!--
        {{ partial "header.includes.html" . }}
        -->
    </head>
    <body>
        <header>
            {{ partial "navbar.html" . }}
        </header>
        <main>
            {{ range first 5 (where .Site.Pages "Section" "article") }}
                {{ .Render "summary" }}
            {{ end }}
        </main>
        <aside>
            {{ partial "menu.html" . }}
        </aside>
        <footer>
            {{ partial "footer.links.html" . }}
            {{ partial "footer.copyright.html" . }}
            {{ partial "footer.includes.html" . }}
        </footer>
    </body>
</html>
