:root {
    --primary-foreground-colour: blue;
    --secondary-foreground-colour: lightgray;
    --background-colour: #111111;
    --text-colour: #d3d3d3;
}

body {
    background-color: var(--background-colour);
    color: var(--text-colour);
}

h1,
h2,
h3 {
    font-family: sans-serif;
}

h1 {
    font-size: 1.5rem;
    font-weight: 500;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.1rem;
}

p {
    font-family: serif;
}

a {
    color: var(--text-colour);
}

#sabayon-linux,
#sabayon-linux + p {
    display: inline-block;
}

#sabayon-linux + p a {
    background-color: var(--primary-foreground-colour);
    padding: 0.25em 0.5em;
    text-decoration: none;
}
