{{ partial "header.html" . }}
<body>
<style type="text/css">
  .content ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-right: 1em;
  }

  .content ul li {
    flex: 1 1 0px;
    text-align: center;
  }
</style>
{{ partial "navbar.html" . }}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="well well-sm content">
                    <h3>{{ .Title }}<br> <small>{{ .Description }}</small></h3>
                    <hr>
                    {{ .Content }}
            </div>
        </div>

        <!-- Sidebar -->
        <div class="col-md-3">
            {{ partial "menu.html" . }}
        </div>
    </div>
{{ partial "footer.copyright.html" . }}
</div>
{{ partial "footer.html" . }}
